body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.navbar {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: #e9ecef;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
}

.jumbotron .display-4 {
    font-size: 2.5rem;
    font-weight: 300;
}

.jumbotron p.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.card {
    margin-top: 20px;
}

.card-header {
    background-color: #007bff;
    color: rgb(65, 65, 65);
    font-weight: bold;
}

.card-body ul {
    list-style-type: none;
    padding-left: 0;
}

.card-body ul li {
    padding: 5px 0;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.privacy-policy {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    /* Light background color */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
}